$form-spacing: 0.5rem; // to reduce input field height _forms.scss
$fieldset-padding:  0.5rem; // see _forms.scss
$list-side-margin: 0.5rem; // Remove margin from list _types.scss
$list-nested-margin: 0.2rem;
$column-gutter: 0.5rem; // Für Spaltenlayout

select {
    height: auto !important;
}

@import "../bower_components/foundation/scss/foundation.scss";

/* Put your CSS here */
html, body {
    background-color: #ffffff;
}

.clear{
    clear:both;
}

.datasource{
    ul {
        li label {display:inline-block; vertical-align:top}
        list-style-type: none;
    }  
}

.list, #structureOptionsView ul {
    li {display:inline-block; vertical-align:top}
    list-style-type: none;
} 
#structureOptionsView {
    > li {
        width: 100%;
        >.box {
            width: 100%;
            > .boxContent  {
                width: 100%;
                > li {
                    width: 24%;
                }
            }
        }
    }
}

.blanklist {
    list-style-type: none;
}



.verticalTabButtonUnselected {
    padding: 0.5rem;
    margin-bottom: 0.1rem;
    width: 100%;
    background-color: #eeeeee;
    color: #555555;
    font-size: 10pt;
    text-align: left;

    &:hover { 
        background-color: #dddddd;
        color: #555555; 
    }
    &:focus { 
        background-color: #eeeeee;
        color: #555555; 
    }
}

.verticalTabButtonSelected  {
    padding: 0.5rem;
    margin-bottom: 0.1rem;
    width: 100%;
    background-color: #ffffff;
    color: #555555;
    font-size: 10pt;
    text-align: left;

    &:hover { 
        background-color: #dddddd;
        color: #555555; 
    }
    &:focus { 
        background-color: #ffffff;
        color: #555555; 
    }
}

.custom-panel {   
    margin-top:20px;  
    @include panel(
    // Sets the panel background color. Default: $panel-pg
    $bg:#FFFFFF,
        // Sets the panel padding amount. Default: $panel-padding
        $padding:10px,
        // Sets the font color based on the darkness of the bg & resets header line-heights for panels. Default: $panel-header-adjust
        $adjust:true    
        );             
}
.box{
    //background-color: #eeeeee;

}

.boxTitle {
    font-size: 10pt;
    font-weight: bold;
    background-color: #ffffff;
    padding-bottom: 0.2rem;
}

.boxContent {
    font-size: 10pt;
    background-color: #ffffff;
}

.optionContainer {
    font-size: 10pt;
    background-color: #ffffff;
    padding-top: 0.5rem;
}

.textfield{
    height: 1px;
}

.logo {   
    height: 40px;
    padding-left: 5px;
}

.minicolors-theme-default .minicolors-swatch {
    top: 2px !important;
    left: 2px !important;
    width: 20px !important;
    height: 16px !important;
}

.sidebar {
    background-color: #FAFAFA;
    padding: 6px;
}

.stage {
    background-color: #FAFAFA;
    padding: 6px;
}

@media only screen { 
    .columns {
        padding-left: 0;
        padding-right: $column-gutter;
    }
}

.row {
    margin: 0px;
    width: 100%;
    max-width: none;
}

// div after a div inside a .row
.row div + div { 
    padding-left: 0.2em;
}

.heading {
    font-weight: bold;
}

h6 {
    font-weight: bold;
    font-size: 10pt;
}

.toolframe {
    width: 100%; 
    height: 800px;
    border: white 1px;
    overflow: visible;
}
.title{
    font-weight: bold;
    color: white;
    padding-top: 10px;
    padding-left:5px;
    font-size: 10pt;
}

.workflowStepTitle {
    font-weight: bold;
    background-color: white;
}

.toolthumbnail {
    width:120px;
    margin: 10px;
}

.showElement, .show-element {
    visibility:visible;
}

.export{
    padding-left:10px;
}
.hideElement, .hide-element{
    display: none !important;
    visibility: hidden;
}

.tuning{
    ul {
        list-style-type: none;
    }
}


select {
    // override setting from _forms.scss
    padding: 0.5px !important;
}

select[size], select[multiple] {
    background-image: none;
}

// Vertical tabgroup
.ui-tabs-vertical { width: 55em; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}