<div class="area-box">
    {{#droppable-area inArea=view.content metadata=view.metadata label=view.label maxNumItems=view.maxCardinality}}
        <div class="dim-name">
           {{view.label}} 
        </div>
        <div class="dim-area-box">
        <div class="dim-metadata">
           Drag {{#each type in view.metadata}}{{type}}{{else}}any data {{/each}}here
        </div>
        <div class="dim-area-item">
            {{#each areaItem in view.content}}
                {{property-item item=areaItem collection=view.content}}
            {{/each}}
        </div>
        </div>
    {{/droppable-area}}
</div>
