<div class="col-xs-6 area-box">
    <h7>{{view.label}}</h7>
    {{#droppable-area inArea=view.content metadata=view.metadata}}
        <div class="dim-metadata">
            Drag & drop: {{#each type in view.metadata}}{{type}} {{/each}}
        </div>
        <div class="dim-area-item">
            {{#each areaItem in view.inArea}}
                {{property-item item=areaItem collection=view.inArea}}	               
            {{/each}}
        </div>
    {{/droppable-area}}
</div>
