<div class="container">    
    <div id="header">  
        <nav class="top-bar" data-topbar>  
            <ul class="title-area">
                <li class="title">  LinDA Visualization </li>
            </ul>
            <section class="top-bar-section">
                <ul class="right">                    
                    <li>{{#link-to "index"}}Home{{/link-to}}</li>
                    <li>{{#link-to "account"}}My Account{{/link-to}}</li>
                    <li>{{#link-to "help"}}Help{{/link-to}}</li>
                </ul>
            </section>
        </nav>
    </div> 

    <div class="row left-collapse">
        <div class="large-3 medium-4 columns">
            {{outlet dsManager}}  
        </div>    
        <div class="stage large-9 medium-8 columns">
            {{outlet}}
        </div>  
    </div>       

    <div id="footer"></div> 

</div>
  



