<div class="datasource sidebar">
    <h6 class="workflowStepTitle">Select Dataset</h6> 
    <nav>
        <ul class='side-nav'>
            <!--<li class="divider"></li> -->
            {{#each datasource in controller}}   
            <li>  <a style="color: #191919" {{action 'select' datasource}}>{{datasource.name}}</a></li> 
            {{/each}}                   
        </ul>
    </nav>
</div>
