<div class="consumption row">
    <div class="medium-10 small-9 columns">
        <h7> EMBED INTO WEBSITE </h7>
        {{textarea value=name cols="60" rows="2"}}
    </div>
    <div class="medium-2 small-3 columns">    
        <i class="fi-share embed-visualization"></i>
    </div>
</div>
