<div class="consumption">
    <h7> EXPORT CHART AS </h7>
    <ul class="inline-list">
        <li><a {{action 'export' 'svg'}}>SVG</a></li>
        <li><a {{action 'export' 'png'}}>PNG</a></li>
        <li><a {{action 'export' 'pdf'}}>PDF</a></li>
    </ul>
</div>
