<div class="consumption row">
    <div class="medium-10 small-9 columns">
        <h7> EXPORT CHART AS </h7>
        <ul class="inline-list">
            <li><a {{action 'export' 'svg'}}>SVG</a></li>
            <li><a {{action 'export' 'png'}}>PNG</a></li>
            <li><a {{action 'export' 'pdf'}}>PDF</a></li>
        </ul>
    </div>
    <div class="medium-2 small-3 columns">
        <i class="fi-page-export export-visualization"></i>
    </div>
</div>
