<div>
    <div class="consumption-title">
        <span> Export as </span>  {{view 'Ember.Select' content=controller.exportFormats value=controller.selectedFormat class="btn btn-default dropdown-toggle"}} 
        <button type="button" class="btn btn-default btn-xs" {{action 'export'}}>
            <span class="glyphicon glyphicon-export" aria-hidden="true"></span>  Export
        </button>
    </div>  
</div>

