<h6>Examples</h6>
<ul>
  <li>
      {{#link-to
          'datasource'
          'Sales%20Statistics'
          'http%3A%2F%2Flocalhost%3A3002%2Ftestsets%2FTS2_Sales_Statistics.csv'
          '-'
          'csv'}}
          1. Sales Statistics (dimple dataset; CSV format)
      {{/link-to}}
  </li>
  <li>
      {{#link-to 
          'datasource'
          'World%20Bank%20GDP%20per%20capita'
          'http%3A%2F%2Flocalhost%3A8890%2Fsparql'
          'http%3A%2F%2Fwww.linda-project.org%2Fexamples%2Fworldbank-slice-5000'
          'rdf'}}
          2. GDP per Capita Example (temporal/statistical dataset; RDF (data cube) format)
      {{/link-to}}
  </li>
  <li>
      {{#link-to 
          'datasource'
          'Healthcare%20Analysis'
          'http%3A%2F%2Flocalhost%3A8890%2Fsparql'
          'http%3A%2F%2Fwww.hospitals_reviewer.com%2F2014'
          'rdf'}}
          3. Healthcare Example (geographical/statistical dataset; RDF (basic geo) format)
      {{/link-to}}
  </li>
  <li>
      {{#link-to 
          'datasource'
          'Water%20Quality%20Analysis'
          'http%3A%2F%2Flocalhost%3A8890%2Fsparql'
          'http%3A%2F%2Fwater_quality_check.it%2Finfo'
          'rdf'}}
          4. Water Quality Example (statistical dataset; RDF format)
      {{/link-to}}
  </li>
  <li>
      {{#link-to 
          'datasource'
          'Newspaper%20Articles%20Analysis'
          'http%3A%2F%2Flocalhost%3A8890%2Fsparql'
          'http%3A%2F%2Fnewspaper.org%2Farticles_2007'
          'rdf'}}
          5. Newspaper Articles Example (statistical dataset; RDF format)
      {{/link-to}}
  </li>
</ul>
