<div>
    <div class="consumption-title">    
        {{input value=controller.configName placeholder="Save settings" size="15"}}    
         <button type="button" class="btn btn-default btn-xs" {{action 'save'}}>
            <span class="glyphicon glyphicon-save" aria-hidden="true"></span>  Save
        </button>
    </div>    
</div>