{{#each visualization in view.slides}}
<div><a {{action 'chooseVisualization' visualization}}> <span class="visualization-thumbnail" {{bind-attr data-visualization-name="visualization.visualizationName"}} {{bind-attr class="visualization.valid:valid-suggestion:invalid-suggestion"}}> </span> </a></div>
{{/each}}
