<div class="container">    
    <div id="header">  
        <nav class="top-bar" data-topbar  > 
            <ul class="title-area" >
                <li>
                   
                </li>
            </ul>
            <section class="top-bar-section">
                <ul class="right">                    
                    <li>{{#link-to "index"}}Home{{/link-to}}</li>
                    <li>{{#link-to "account"}}My Account{{/link-to}}</li>
                    <li>{{#link-to "help"}}Help{{/link-to}}</li>
                </ul>
            </section>
        </nav>
    </div> 

    <div class="row" style="max-width:100%">
        <div class="large-3 columns custom-panel">
            {{outlet dsManager}}  
        </div>    
        <div id="stage" class="large-9 columns custom-panel">
            {{outlet}}
        </div>  
    </div>       

    <div id="footer"></div> 

</div>




