<div>
    {{#if isSelected}} 
    <div> 
        <iframe {{bind-attr src=uri }} style="width:100%; height: 700px;"></iframe> 
    </div>
    {{else}}  
    <div class="datasource">
        <h5>Select visualization tool</h5> 
        <ul>             
     {{#each tool in controller}}   
        <li>  <a {{action 'select' tool}}>{{tool.name}}</a> </li> 
     {{/each}}      
        </ul>          
    </div>
    {{/if}}
</div>