<div>
    {{#if isSelected}} 
    <div> 
        <iframe {{bind-attr src=uri }} class="toolframe"></iframe> 
    </div>
    {{else}}  
    <div class="datasource">
        <h6>Select visualization tool</h6> 
        <ul>             
     {{#each tool in controller}}   
        <li>  <a {{action 'select' tool}}>{{tool.name}}</a> </li> 
     {{/each}}      
        </ul>          
    </div>
    {{/if}}
</div>